html { height: 100%; }
body {
	height: 100%;
	color: rgba(51, 51, 51, 0.72);
}

.container { margin-left:auto; margin-right:auto; }
#map { height: 100%; width: 99%; min-height: 500px; border: 5px #ffffff solid;}
